// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import "font-awesome";
@import "tempusdominus-bootstrap-4";

.navbar {
  .btn {
    margin: 2px;
  }
}

.jumbotron {
  background-image: url("/beer.jpg");
  background-size: cover;
  background-position: center 60%;
  container {
    padding: 50px;
  }
  h2, p {
    $shadow_color: #ffffff;
    color: #000;
    text-shadow:1px 1px 0 $shadow_color, -1px -1px 0 $shadow_color,
                -1px 1px 0 $shadow_color, 1px -1px 0 $shadow_color,
                0px 1px 0 $shadow_color,  0-1px 0 $shadow_color,
                -1px 0 0 $shadow_color, 1px 0 0 $shadow_color;
  }
}

h1 {
  font-size: 25px;
  margin: 20px;
}

.row {
  padding: 5px 0px;
}

.center {
  text-align: center;
}

#error_explanation {
  color: red;
}

.fa-heart {
  color: #ff1493;
}

.btn {
  &:hover {
    transform: scale(1.05);
    transition-duration: 0.3s;
  }
}
.card {
  margin: 5px 5px;
  padding: 0px;
}

.media {
  margin: 10px;
  padding: 10px;
  .user-img {
    width: 64px;
    height: 64px;
  }
}

.user-img {
  margin: 10px;
}

footer {
  width: 100%;
  padding: 15px;
}


.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  .checkbox {
    font-weight: 400;
  }
  .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-control:focus {
    z-index: 2;
  }
  input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}