// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

header {

}

.jumbotron {
  margin: 0px;
  padding: 50px;
}

.center {
  text-align: center;
}

#error_explanation {
  color: red;
}

.bootstrap-date {
  display: inline-block;
  width: auto;
}

.card {
  max-width: 100%;
  margin: 10px 50px;
  padding: 0px;
}

.bd-placeholder-img.card-img-top {
  width: 100%; 
  height: auto;
}

.btn-form {
  margin: 5px;
  padding: 5px;
  width: 80px;
  display: inline-block;
  float: center;
}