// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import "font-awesome";
@import "tempusdominus-bootstrap-4.css";


.jumbotron {
  background-image: url("beer.jpg");
  background-size: cover;
  background-position: center 60%;
  container {
    padding: 50px;
  }
  h2, p {
    $shadow_color: #ffffff;
    color: #000;
    text-shadow:1px 1px 0 $shadow_color, -1px -1px 0 $shadow_color,
                -1px 1px 0 $shadow_color, 1px -1px 0 $shadow_color,
                0px 1px 0 $shadow_color,  0-1px 0 $shadow_color,
                -1px 0 0 $shadow_color, 1px 0 0 $shadow_color;
  }
}

.center {
  text-align: center;
}

#error_explanation {
  color: red;
}

.bootstrap-date {
  display: inline-block;
  width: auto;
}

.fa-heart {
  color: #ff1493;
}

.card {
  margin: 10px 10px;
  padding: 0px;
}

.btn-form {
  margin: 5px;
  padding: 5px;
  width: 80px;
  display: inline-block;
  float: center;
}

.media {
  margin: 10px;
  padding: 10px;
  .user-img {
    width: 64px;
    height: 64px;
  }
}

footer {
  width: 100%;
  padding: 15px;
}
